.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  white-space: pre-line;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.textDisplay {
  margin-top: 10px;
  border: 1px solid black;
  height: 50vh;
  overflow: scroll;
  width: 50vh;
  white-space: pre-line;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
